{namespace examples.simple}

/**
 * Says hello to the world.
 * @param name The name of the person.
 * @param age The age of the person.
 */
{template .helloWorld}
  Hello {$name['firstName']} {$name['lastName']}!
  {BREAK}
  You are {$age} years old.
{/template}