@import "header";
@import "footer";
@import "section";
@import "artwork";

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.draggable{
	 cursor: hand;
	 cursor: grab;
	 cursor: -moz-grab;
	 cursor: -webkit-grab;
	 cursor: url('../cursor/openhand.cur'), default !important;

	 &:active{
	 	 cursor: grabbing;
		 cursor: -moz-grabbing;
		 cursor: -webkit-grabbing;
		 cursor: url('../cursor/closehand.cur'), default !important;
	 }
}

.scrollableX{
	overflow-x: scroll !important;
}

.scrollableY{
	overflow-y: scroll !important;
}

.roundThumb{
	position: absolute;
	display: block;
	cursor: pointer;
	
	>.outer, >.inner{
		position: absolute;
		@include border-radius(50%, 50%);
	}

	>.outer{
		background: yellow;
	}

	>.inner{
		overflow: hidden;
		background-image: url('http://farm4.staticflickr.com/3001/2553994871_f565e5bc40_z.jpg');
		background-position: center center;
	}

	&:hover{
		>.outer{
		}

		>.inner{
		}
	}
}