#footer-wrapper{
	position: absolute;
	bottom: 0;
	width: 100%;
}

#footer-info{
	height: 30px;
	background-color: rgba(0, 0, 0, .5);
}

#footer-navigation{
	height: 50px;
	background-color: rgba(0, 0, 0, .2);
}