#section-wrapper{
	position: relative;
	top: 0;
	left: 0;
}

.section{
	float: left;

	>.content{
		width: 80%;
		height: 100%;
		max-width: 1250px;
		margin: 0 auto;

		>h2{
			position: absolute;
			font-size: 20px;
		}
	}
}

.detailSection{
	background: url('../images/paper-texture.jpg');

	>.content{
		>.left{
			width: 85%;
			height: 100%;
			float: left;
			outline: 1px solid gray;
			overflow: hidden;
		}

		>.right{
			width: 15%;
			height: 100%;
			float: left;
			outline: 1px solid gray;
		}
	}

}