
{exp:channel:entries channel="portfolio" limit="10"}
	<div>
		<h2>{title}</h2>
    <a href="{client_url}" target="_blank">{client}</a>
    <p>{role}</p>
    {categories}
    	<p>Category: {category_name}</p>
		{/categories}

		<img src="{marquee_image}" width="100"/>
    <p>{summary}</p>
    <p>{description}</p>

    <ul>
    	Tags:
			{exp:tagger:tags entry_id="{entry_id}"}
				{if tagger:no_tags}<p>No tags where found.</p>{/if}
			  <a href="/tag/{tagger:urlsafe_tagname}">{tagger:tag_name}</a>
			{/exp:tagger:tags}
		</ul>

  </div>
{/exp:channel:entries}